/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('powerpoint-math-for-kids-background-design-template-9c7101e6f62f51589b70148f650f4f6e_screen.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.calculator {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.calculator-screen {
    width: 100%;
    height: 60px;
    background: #333;
    color: #fff;
    text-align: right;
    padding: 15px;
    box-sizing: border-box;
    font-size: 28px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.button {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background: #800080;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.button:hover {
    background: #9932CC;
    transform: scale(1.05);
}

.button[data-operator="true"] {
    background: #BA55D3;
}

.button[data-operator="true"]:hover {
    background: #DDA0DD;
}

.button[data-value="C"] {
    background: #FF4500;
}

.button[data-value="C"]:hover {
    background: #FF6347;
}
